body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    /* background-image: url(https://tse1.mm.bing.net/th?id=OIP.F1YJaijSty0dUgxSb7uTAgHaEG&pid=Api&P=0&h=220);
    background-size:1000px,1000px;
    background-position: center;
    background-repeat: no-repeat; */
}

.starting-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px,20px;
    background-color: white;
    border: 1px solid #ccc;
}

.contact-info{
    margin-left: 100px;
    font-size: 14px;
}

.contact-info span{
    color: rgb(196, 221, 9);
    margin-right: 5px;

}

.auth-options{
    margin: 0 10px;
    text-decoration: none;
    color:black;
    display: flex;
    margin-left: 5px;
    padding-left: 10px;
}

.language{
    margin: 10px;
    margin-right: 100px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
    background-color: black;
}

.nav-bar logo{

    flex:1;
}

.nav-links{
    display: flex;
    flex: 5;
    justify-content: center;
}

.nav-links a{
    margin: 0 15px;
    text-decoration: none;
    color: white;
}

.nav-links a:hover{
    color: yellow;
}

.book-now{
    flex: 1;
    text-align: right;
}

.book-now button{
    background-color: white;
    padding: 15px;
    cursor: pointer;   

}

.first-page{
    text-align: center;
}

.first-page h3{
    margin-top: 100px;
    color: rgb(243, 217, 18);
    font-size: 20px;
}

.first-page h1{
    margin-top: 10px;
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.booking-form{
    width: 60%;
    border: 2px solid rgb(236, 236, 233);
    display: flex;
    flex-direction: row;
    gap :20px;
    background-color: white;
    justify-content: center;
    margin-left: 350px;

}

.input-container{
    position: relative;
}

.input-container input,
.input-container select{
    padding: 10px;
    padding-right: 30px;
    border: 1px solid rgb(213, 209, 209);
    width: 100px;
    margin-right: 10px;
    margin-left: 10px;

}

.input-container p{
    color: grey;
    margin: 10px;
    text-align: center;
}

/* .input-container i{
    right:5px;
    top: 70%;
    color: rgb(217, 194, 19);
} */

.button-container{
    background-color: black;
    width: 50%;
    padding: 10px;
    text-align: center;
    height: 100px;
}
.book-now{
    border: none;
    background-color: black;
    padding:10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.image-text{
    display: flex;
    justify-content: space-between;
    margin: -60px 100px 100px 100px;
}

.text{
    margin-top: 100px;
    align-items: center;
}

.text h5{
    color: rgb(196, 168, 14);
    font-size: 20px;
    
}

.text h3{
    font-weight: bold;
}
.text img{
    margin-top: 20px;
}

.text p{
    color: rgb(115, 113, 113);
}

.facility{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    margin: 200px 100px 100px 200px;
    gap: 30px;
    
}

.facility-card{
    width: 350px;
}

.facility-card p{
    color: grey;
}

.facility h1{
    font-size: 20px;
}

.background{
    width: auto;
    height:1000px;
    border: 1px solid;
    background-image: url(https://tse3.mm.bing.net/th?id=OIP.DaJJxDpzaiaAzUXtfZ3dOgHaE7&pid=Api&P=0&h=220);
    background-size:cover;
    background-repeat: no-repeat;
}

.our-rooms-page h4{
    margin-top: 100px;
    text-align: center;
    color: rgb(231, 198, 14);
    font-size: 20px;
}

.our-rooms-page h1{
    text-align: center;
    font-size: 40px;
    font-weight: 1000;
}

.hotel-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    height: 400px;
    margin: 0 0 100px 0;
}

.hotel-card{
    position: relative;
    border: 1px solid grey;
    overflow:hidden;
    background-color: white;
    transition: transform 0.3s ease;
}

.hotel-card img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card-text {
    position: absolute;
    bottom: 30px;
    left: 10px;
    color: white;
    font-size: 1.2rem;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

.price {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 1.2rem;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

/* .book-now-hotel{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color:white;
    color: black;
    padding: 10px 20px;
    font-weight: bold;
    transition: all 0.3s ease;
    opacity:0;
} */


.hotel-card:hover{
    transform: translateY(-5px);

}

.hotel-card:hover img{
    transform: scale(1.1);
}

.hotel-card:hover .card-text{
    bottom: 80px;
}

.hotel-card .book-now-hotel{
    /* bottom: 20px; */
    opacity: 1;
}

.explore-more{
    display: flex;
    margin: 0 150px 50px 200px;
    justify-content: space-between;
}

.explore-more h1{
    font-size: 20px;
}

.explore-button{
    padding: 15px 20px;
    background-color: rgb(207, 150, 19);
    color: white;
    font-weight: bold;
    border: none;
    text-align: center;
}

.Testimonials{
    display: flex;
    justify-content: space-between;
    margin: 150px;
}
.Testimonials-text{
    margin: 0 0 0 50px;
}

.Testimonials-text h4,h1{
    text-align: left;
    margin-top: 15px;

}

.Testimonials-text h4{
    font-size: 15px;
}

.Testimonials-text h1{
    font-size: 30px;
}
 .moving-part{
    border: 1px solid green;
    width: 100%;
    height: 300px;
 }

 .background-choose{
    position: relative;
    background-image: url(https://up.yimg.com/ib/th?id=OIP.bTvxB52hX-HMV3D4OMy56gHaEJ&pid=Api&rs=1&c=1&qlt=95&w=196&h=109);
    background-repeat: none;
    background-size:cover;
    background-position: center;
    margin-bottom: 200px;
    height: 350px; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.choose-container{
    width: 100%;
    height: 100%;
    padding-top: 60px;
    
}

.choose-container h5{
    text-align: center;
    color: rgb(231, 186, 5);
    font-weight: bold;
}

.choose-container h1{
    text-align: center;
    color: white;
}

.choose-button{
    padding: 20px;
    border:none;
    padding:10px 20px ; 
    background-color: white;
}

.blog{
    display: flex;
    justify-content: space-between;
}
